.score h2{
  color: rgb(16, 12, 220);
  font-size: xx-large;
}
.score{
  text-align: center;
}
.score p{
  font-size: 20px;
}
h1{
  color: rgb(69, 11, 243);
}
.bt{
  background-color: rgb(9, 9, 9);
  color: white;
  border-radius: 5px;
}
.question-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.answer {
  margin-bottom: 10px;
}

label {
  display: block;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.answer-container li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}